.navbar {
background-color: black;
text-align: center;
position: fixed;
top: 0px;
width: 100%;

}

 .navbar li {
     display: inline-block;
     padding: 15px;
    
 }
 body {
     text-align: center;
     color: oldlace;
     font-family: 'Amatic SC', cursive;
     font-size: 35px;
     background-color: black;
 }
 .container{
    text-align: center;
    background-image: url("screen.jpg");
 }
.Contact{
    text-align: center;
}
 .Contact li {
     display: inline-block;
     padding: 20px;
     list-style: none;
 }
 .Interests li {
     list-style: none;
 }
 .Hobbies li{
     list-style: none;
 }
 img {
    width: 200px;
    border-radius: 70%;

    
 }
 .underline{
     text-decoration: underline;
 }
 a{
     text-decoration:none;
     color: white;
 }
 .fab {
     float: left;
 }
 .icon li {
     display: inline-block;
     margin-right: 20px;
 }
 .About {
     margin-top: 150px;
 }